* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container_mayor {
  width: 25%;
  margin: auto;
  min-height: fit-content;
  background-color: rgb(154, 204, 62);
  padding: 20px;
  border: solid black 2px;
}
#itemList {
  background-color: yellow;
}
#itemList:has(.check-box:checked) {
  background-color: green;
  color: gray;
}
