@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container_mayor {
  position: absolute;
  width: fit-content;

  left: 30%;
  height: max-content;
  background-color: rgb(154, 204, 62);
  padding: 20px;
  border: solid black 2px;
  margin-top: 50px;
  border-radius: 20px;
}
#itemList {
  background-color: yellow;
}
#itemList:has(.check-box:checked) {
  background-color: green;
  color: gray;
}
.button-cantidad {
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px;
  color: white;
  background-color: red;
  border-radius: 10px;
  box-shadow: black 2px 2px 5px;
}
.button-reset,
.button-add {
  width: 60px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  /*margin: 10px 5px;*/
  color: white;
  background-color: blue;
  border-radius: 10px;
  box-shadow: black 2px 2px 5px;
}

.input-productName {
  width: 120px;
  height: 25px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: solid gray 1px;
  margin-right: 10px;
}
.itemList {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  font-size: 20px;
  font-family: "Permanent Marker", cursive;
}

.container_list,
.list-ol {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.container_list h3,
.showList {
  text-align: center;
  position: relative;
  font-family: "Permanent Marker", cursive;
}
.button-reset {
  position: relative;
  left: 80%;
  margin-top: 25px;
}
.cantidad {
  font-size: 18px;
  font-weight: bold;
}
